<footer class="text-center text-lg-start bg-light text-muted">
    <section class="border-bottom">
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Visite minhas redes sociais:
            </h6>
            <p>
              <a href="https://www.linkedin.com/in/bertoloto/" class="text-reset">
                Linkedin
              </a>
            </p>
            <p>
              <a href="https://github.com/BertolotoLucas" class="text-reset">
                GitHub
              </a>
            </p>
          </div>
          
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Tecnologias Utilizadas
            </h6>
            <p>
              <a href="https://angular.io/" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="https://ng-bootstrap.github.io/#/home" class="text-reset">Ng-Bootstrap</a>
            </p>
            <p>
              <a href="https://spring.io/" class="text-reset">Spring</a>
            </p>
            <p>
              <a href="https://www.mongodb.com/" class="text-reset">MongoDB</a>
            </p>
          </div>
  
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Entre em Contato
            </h6>
            <p>
              <a href="mailto:lucasbdoss@hotmail.com" class="me-4 text-reset">lucasbdoss@hotmail.com</a>
            </p>
          </div>
  
        </div>
      </div>
    </section>
  </footer>
