div{
    margin-bottom: 0.75em;
}
.icon{
    text-decoration: none;
    color: #6c757d;
    transition: all 0.80s;
}

.icon:hover {
   font-size: 1.20em;
}

.linkedinIcon:hover {
    color: #0077b5;
}

.githubIcon:hover {
    color: #171515;
}

.angularIcon:hover {
    color: #a6120d;
}

.bootstrapIcon:hover{
    color: #563d7c;
}

.springIcon:hover{
    color: #67aa63;
}

.mongoIcon:hover{
    color: #3fa037;
    font-size: 1.35em;
}

.mailIcon:hover{
    color: #2e5984;
}
