@font-face {
  font-family: 'digital-7';
  src: url('../fonts/Digital Numbers 400.ttf');
}

.container-main{
    margin-top: 3em; 
    margin-bottom: 3em;
}
label{
  margin-bottom: 0;
}
.result{
  background-color: gray;
  text-align: right;
  font-family: 'digital-7';
  font-style: black;
}

.form-row{
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}