.welcome{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-style: solid;
  border-width: 2px;
  border-color: #343a3e;
  border-radius: 0.5em;
  background-color: RGBA(255,255,255,0.85);
  color: #343a3e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Delius', cursive;
  width: 70%;
  margin: 0 auto;
}

h5{
  text-align: center;
}

h6{
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: justify;
  font-style: italic;
  padding-bottom: 0.75em;
}


@font-face {
  font-family: 'digital-7';
  src: url('../fonts/Digital Numbers 400.ttf');
}

.calculator{
  padding-top: 25px;
  width: fit-content;
}

.calculator-background{
  background-color: #343a3e;

  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form{
  padding-bottom: 0.3em;
}

label{
  margin-bottom: 0;
}

.screen{
  margin-top: 1em;
  background-color: #e0e0e0; 
  text-align: right;
  font-family: 'digital-7';
  color: black;
  width: 215px;
  border-radius: 0.25em;
}

.form-row{
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.btn{
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.btn-outline-dark{
  color: white;
}

.btn-outline-dark:hover{
  border-color: white;
}

.btn-num{
  padding-left: 12.2px;
  padding-right: 12.2px;
}

.btn-ce{
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.btn-percent{
  padding-left: 9.95px;
  padding-right: 9.95px;
}

.btn-plus{
  padding-left: 11px;
  padding-right: 11px;
}

.btn-multiply{
  padding-left: 13.164px;
  padding-right: 13.164px;
}

.btn-minus{
  padding-left: 13.3px;
  padding-right: 13.3px;
}

.btn-divide{
  padding-left: 13.383px;
  padding-right: 13.383px;
}

.btn-dualzeros{
  padding-left: 7.875px;
  padding-right: 7.875px;
}

.btn-dot{
  padding-left: 14.766px;
  padding-right: 14.766px;
}

.btn-equal{
  padding-left: 32.5px;
  padding-right: 32.5px;
}

.container-btn-light{
  margin: auto;
  width: 232px;
  text-align: right;
  padding-bottom: 15px;
}

.btn-light{
  margin-left: 0em;
  margin-top: 0.75em;
  background-color: #0c6d7c;
  border-color: #0c6d7c;
  color: white;
  font-size: 1.5em;
  border-radius: 25px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.btn-light:hover{
  background-color: #1194a8;
  border-color: #1194a8;
}