<div class="container container-main">
  <div class="container">
    <div class="border rounded shadow">
      <form>
        <div class="form-row">
          <div class="form-col">
            <label for="screen">Resultado</label>
          </div>
        </div>
      
        <div class="form-row">
          <div class="form-col">
            <input [(ngModel)]="screenValue" name="screenValue" type="text" class="form-control screen" id="screen" disabled>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreen($event)" class="btn btn-outline-dark btn-num">7</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreen($event)" class="btn btn-outline-dark btn-num">8</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreen($event)" class="btn btn-outline-dark btn-num">9</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "clearTheScreen()"class="btn btn-outline-dark btn-ce">CE</button>
          </div>
        </div>

        <div class="form-row">
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreen($event)" class="btn btn-outline-dark btn-num">4</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreen($event)" class="btn btn-outline-dark btn-num">5</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreen($event)" class="btn btn-outline-dark btn-num">6</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addOperation($event)" class="btn btn-outline-dark btn-plus">+</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addOperation($event)" class="btn btn-outline-dark btn-multiply">*</button>
          </div>
        </div>

        <div class="form-row">
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreen($event)" class="btn btn-outline-dark btn-num">1</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreen($event)" class="btn btn-outline-dark btn-num">2</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreen($event)" class="btn btn-outline-dark btn-num">3</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addOperation($event)" class="btn btn-outline-dark btn-minus">-</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addOperation($event)" class="btn btn-outline-dark btn-divide">/</button>
          </div>
        </div>

        <div class="form-row">
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreen($event)" class="btn btn-outline-dark btn-dualzeros">00</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreen($event)" class="btn btn-outline-dark btn-num">0</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addDotToScreen()" class="btn btn-outline-dark btn-dot">.</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "getResult()" class="btn btn-outline-dark btn-equal">=</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

