  <div class="welcome justify-content-end">
    <h5>Seja bem-vindo (a), <strong>{{name}}</strong>!</h5>
    <h6>Aqui você pode realizar seus cálculos e, se quiser, poderá visualizar todos os cálculos que foram registrados nessa calculadora ao clicar no botão abaixo dela.<br>
    Aproveite!</h6>
  </div> 
  <div class="container calculator">
     
    <div class="calculator-background">
      <form>
        <div class="form-row">
          <div class="form-col">
            <input [(ngModel)]="screenValue" name="screenValue" type="text" class="form-control screen" id="screen" disabled>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreenByEvent($event)" class="btn btn-outline-dark btn-num">7</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreenByEvent($event)" class="btn btn-outline-dark btn-num">8</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreenByEvent($event)" class="btn btn-outline-dark btn-num">9</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "convertNumberToPorcent()" class="btn btn-outline-dark btn-percent">%</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "clearTheScreen()"class="btn btn-outline-dark btn-ce">CE</button>
          </div>         
        </div>

        <div class="form-row">
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreenByEvent($event)" class="btn btn-outline-dark btn-num">4</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreenByEvent($event)" class="btn btn-outline-dark btn-num">5</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreenByEvent($event)" class="btn btn-outline-dark btn-num">6</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addOperationByEvent($event)" class="btn btn-outline-dark btn-plus">+</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addOperationByEvent($event)" class="btn btn-outline-dark btn-multiply">*</button>
          </div>
        </div>

        <div class="form-row">
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreenByEvent($event)" class="btn btn-outline-dark btn-num">1</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreenByEvent($event)" class="btn btn-outline-dark btn-num">2</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreenByEvent($event)" class="btn btn-outline-dark btn-num">3</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addOperationByEvent($event)" class="btn btn-outline-dark btn-minus">-</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addOperationByEvent($event)" class="btn btn-outline-dark btn-divide">/</button>
          </div>
        </div>

        <div class="form-row">
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreenByEvent($event)" class="btn btn-outline-dark btn-dualzeros">00</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addDigtToScreenByEvent($event)" class="btn btn-outline-dark btn-num">0</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "addDotToScreen()" class="btn btn-outline-dark btn-dot">.</button>
          </div>
          <div class="form-col">
            <button type="button" (click) = "getResult()" class="btn btn-outline-dark btn-equal">=</button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="d-flex container-btn-light">
    <div class="mr-auto">
      <button class="btn btn-primary" (click)="goToInputName()"><fa-icon [icon]="faArrowLeft"></fa-icon></button>
    </div>
    <div>    
      <button  title="Ver todos os calculos realizados com essa calculadora!" type="button" class="btn btn-primary" (click) = "goToList()">
        <fa-icon [icon]= "faList"></fa-icon>
      </button>
    </div>
  </div>
  

