form {
  text-align: left;
  width: 80%;
  margin: auto;
}

label{
  font-weight: bold;
  color: #0c6d7c;
}

.form-control{
  border: 1px solid #0c6d7c;
  color: #0c6d7c;
}

.form-control:focus {
    color: #0c6d7c;
    border-color: black; 
    box-shadow: 0 0 0 0.1rem rgb(0 0 0 / 75%);
}

small{
  color: #0c6d7c;
  font-style: italic;
}

fa-icon{
  font-size: 1.5em;
}

.btn-primary{
  border-radius: 1.5em;
  background-color: #0c6d7c;
  color: white;
}

.btn-primary:hover{
  background-color: #1194a8;
  border-color: #1194a8;
}

.button {
  text-align: right;
}