<form>
  <div class="form-group">
    <label for="inputName">Nome</label>
    <input [(ngModel)]="name" name="name" type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="José Batista" required>
    <small id="nameHelp" class="form-text text-muted">É apenas para registrar seus calculos, não se preocupe</small>
  </div>
  <div class="button">
    <button [disabled]="!name" type="submit" class="btn btn-primary" (click)="registerName(name)">Enviar</button>
  </div>
</form>
  