form {
  text-align: left;
  width: 80%;
  margin: auto;
}

label{
  font-weight: bold;
  color: #0c6d7c;
}

fa-icon{
  font-size: 1.5em;
}

.btn-primary{
  border-radius: 1.5em;
  background-color: #0c6d7c;
  color: white;
}

.btn-primary:hover{
  background-color: #1194a8;
  border-color: #1194a8;
}

.button {
  text-align: right;
}