.search-icon{
    padding-left: 8px;
    padding-top: 0.35em;
    position: absolute;
    color: #0c6d7c;
}

#search-component{
    padding-top: 0.5em;
}

.search-input{    
    border-radius: 0.8em;
    border-color: #0c6d7c;
    border-style: solid;
    outline-offset: 0px;
    padding-left: 26px;
    padding-right: 6px;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    width:453px;
    caret-color: #0c6d7c;
    color: #0c6d7c;
}

.search-input::placeholder{
    color: #0c6d7c;
}

.search-input::-ms-input-placeholder{
    color: #0c6d7c;
}

.search-input:focus {
	outline: none;
    border-color: #0c6d7c;
}

.table-responsive{
    padding-top: 1em;
    padding-bottom: 1em;
}

.table-background{
  border-radius: 0.75em;
  box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.2);
}

th{
    border: none;
}

.content-text-truncate{
  display: block;
}

.text-truncate{
   width: auto;
   display: inline-block;
}

fa-icon{
  font-size: 1.5em;
}

.btn-primary{
  border-radius: 2em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #0c6d7c;
  border-color: #0c6d7c;
  color: white;
}
  
.btn-primary:hover{
  background-color: #1194a8;
  border-color: #1194a8;
}
  
.button {
  text-align: right;
}

.pagination{
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.page-link{
    color: #0c6d7c;
    border-color: #0c6d7c;
    cursor: pointer;
}

.page-item.active .page-link{
    color: white;
    background-color: #0c6d7c;
    border-color: #0c6d7c;
    cursor:default;
}

.linkDoCalcs{
    cursor: pointer;   
}


@media screen and (max-device-width: 500px) {
    .text-truncate-id{
       width: 20px;
    }

    .text-truncate-nome{
        width: 63px;
     }

    .text-truncate-resultado{
        width: 55px;
    }

    .search-input{    
        width: 325px;
    }
}