<div class="container">
  <table *ngIf="calculations" class="table table-striped">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nome</th>
      <th scope="col">Operação</th>
      <th scope="col">Resultado</th>
    </tr>
    <tbody>
      <tr *ngFor="let calculation of calculations">
        <th scope="row">{{calculation.id}}</th>
        <td>{{calculation.nomePessoa}}</td>
        <td>{{calculation.operacao}}</td>
        <td>{{calculation.resultado}}</td>
      </tr>      
    </tbody>
  </table>
</div>