  

  
  <!-- <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="form">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control form-input" placeholder="Search anything...">
          <span class="left-pan"><i class="fa fa-microphone"></i></span> </div>
    </div>
  </div> -->

  <div class="row height d-flex justify-content-center align-items-center" id="search-component" *ngIf="!(calculations.length == 0 && !isFinding)">
    <div class="col-md2">
      <!-- <label for="search-box">Procurar cálculos pelo nome do usuário: </label> -->
  
      <fa-icon class="search-icon"  [icon]="faSearch" ></fa-icon>
      <input type="search" class="search-input" placeholder="Pesquisar pelo nome..." #searchBox id="search-box" (input)="search(searchBox.value)">
    </div>

  </div>

  <div class="table-responsive">
  <table *ngIf="calculations.length > 0" class="table table-dark table-striped table-hover text-center table-background">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome</th>
        <th scope="col">Operação</th>
        <th scope="col" >Resultado</th>
      </tr>
    </thead>     
    <tbody>
      <tr *ngFor="let calculation of calculations">
        <td scope="row" class="text-break">{{calculation.id}}</td>
        <td scope="row" class="text-break">{{calculation.nomePessoa}}</td>
        <td scope="row" class="text-break font-italic">{{calculation.operacao}}</td>
        <td scope="row" *ngIf="calculation.resultado" class="text-success font-weight-bold">{{calculation.resultado}}</td>
        <td scope="row" *ngIf="!calculation.resultado" class="text-danger font-weight-bold" >Error.</td>
      </tr>      
    </tbody>
  </table>
  </div>
  
  <!-- <nav *ngIf="calculations.length > 0" aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav> -->

  <div *ngIf="calculations.length == 0 && !isFinding" >
    <p>Não há calculos, por favor faça alguns: <a class="linkDoCalcs" (click)="returnToCalculator()">Fazer calculos!!</a></p>
  </div>
